<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>663256998803-8j5hlgrt9pt7b10vk62b9ei1mg1o2hbv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.663256998803-8j5hlgrt9pt7b10vk62b9ei1mg1o2hbv</string>
	<key>API_KEY</key>
	<string>AIzaSyBDJK5-P51HqYm0X8fC_kvJF5MRW7K8w8Y</string>
	<key>GCM_SENDER_ID</key>
	<string>663256998803</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mattepu.MyWeather</string>
	<key>PROJECT_ID</key>
	<string>myweather-311d9</string>
	<key>STORAGE_BUCKET</key>
	<string>myweather-311d9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:663256998803:ios:b7b811dcac23bd56</string>
	<key>DATABASE_URL</key>
	<string>https://myweather-311d9.firebaseio.com</string>
</dict>
</plist>